header {
  padding: 0;
}

h1 {
  color:black
  }

h2, .sent {
  text-align: center;
  margin: 15px 100px;
  color:white;
  }

body {
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  }

  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height:100%;
  }
  
main {
  z-index: 4;

}

a {
  color:black;
}

a:hover {
  color:lime;
}

hr {
    width: 20%;
    border-style: dotted none none;
    border-width: 10px;
    border-color: yellow;
    margin: auto;
    padding-bottom: 2%;
}
 img {
   overflow:hidden !important;
 }


.resume-viewer {
 width: 100vw;
 height: auto;
}

#tsparticles {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /*width: 100%;
  height: 100vh;*/
  background: #8000FF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1 
}

.overlay-fix{
  position: relative;
  z-index: 1;
}

.navbar-top {
  align-items:center;
  justify-content:right;
}

span {
  color:White;
}

.nav-link {
  position: relative;
  color:white;
}
.nav-link:hover {
  color:gray;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 4px;
  bottom: 0;
  margin: -5px 0;
  background-color: lime; /*Follow your text color*/

  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}

.headline {
  color:white;
  font-weight: bold;
}

.nav-link:hover:before {
  transform: scaleX(1);
}



.hero-section {
padding:3.4% 0;
}

.type-text {
  color:lime;
}

.profile-image {
  border-radius: 50%;
  width: 75%;
  z-index: 5
}



.logo-image {
  height:3vw;

}

.frontpage {
  display:flex;
  align-items:center;
  justify-content:center;
}



.projectheading, .resumeheading {
  color:white;
  text-align:center;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 15px;
}


.project-list {
  text-align:center;
  justify-content:center;
}



.project-card {
  height: 100%;
  opacity: .75
}

.project-card:hover {
  transform: scale(1.02) !important;
  box-shadow: 0 0 15px 5px lime !important;
}

.project-image {
margin: 0 auto;
}

.react-pdf__Page__textContent, .react-pdf__Page__annotations {
  display:none;
}

.contact-button {
  color: lime;
  margin: 15px auto;
}

.form-layout {
  margin:  2% 25%;
  border: 2px solid white;
}

.button-layout {
  margin: 2% 45%;
  color: lime
}

.button-layout:hover {
 background-color: green;
}

.footer {
  position: absolute;
			bottom: 0px;
			height: 25px;
			width: 100%;
      background-color: black;
}